<h2>Log in</h2>

<%= form_tag sessions_path do |f| %>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
  <%= f.submit "Log in" %>
<% end %>

