<h1>Saved articles</h1>

<% @articles.each do |article| %>
  <div class="saved-article">
  <p class='title'>
    <a href="<%= article.url %>">
      <%= article.title %>
    </a> 

    <% if article.publication.nil? %>
      <span class='source'>
        Shared by <%= article.shared_by %>
      </span>
    <% else %> 
      <span class='source'> 
        Published by <%= article.publication %>
      </span>  
    <% end %> 
  </p>
  <p>  
    <%= article.extract %>
  </p>
  
  <form action="/articles/<%= article.id %>" method='post'>
    <%= token_tag %>
    <input type="hidden" name='_method' value='delete'>
    <button class='delete'>Delete</button>
  </form>
  </div>
<% end %>
