<h2>Edit your profile <%= @reader.email %></h2>

<p>Edit email/pw and location only show on click</p>
<h3 class='edit_reader'>Edit your info</h3>

<div class="edit_reader_form">
  <%= form_for @reader do |f| %>
    <%= f.label :location, "Location:" %>
    <%= f.text_field :location %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <%= f.submit "Update profile" %>
  <% end %>
</div>



<h3>Choose your News Preferences</h3>
  <%= form_for @subscription do |f| %>
    <%= collection_check_boxes(:subscription, :publication_id, @publications, :id, :name, {}) %>
    <%= f.submit %>
  <% end %>

</div>


