<div class="wrapper">
  <div class="notify"></div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div class="social">
    <h3>Social networks</h3>
  <% if @reader.facebook_token %>
    <a href='/logout/facebook' id='unlink-fb'><i class="fa fa-facebook"></i>
      Disconnect from Facebook
    </a>
  <% else %>
    <a href="/auth/facebook">
      <i class="fa fa-facebook"></i> Connect with Facebook
    </a>
  <% end %>
  <% if @reader.twitter_token %>
    <a href='/logout/twitter' id='unlink-tw'>
      <i class="fa fa-twitter"></i>
      Disconnect from Twitter
    </a>
  <% else %>
    <a href="/auth/twitter">
      <i class="fa fa-twitter"></i>
      Connect with Twitter
    </a>
  <% end %>

  <p>* Connect with Facebook/Twitter to get<br/>
  articles shared by your social network.</p>
  </div>

  <div class="profile-edit">
    <h3>Edit profile</h3>

    <%= form_for @reader do |f| %>
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %><br/>
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %> <br/>
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %> <br/>
      <%= f.label :image, "Profile pic:" %>
      <%= f.text_field :image %><br/>
    <% end %>
    <button id='update-profile'>Update profile</button>
  </div>

</div>


<script>
  $('#update-sub').click(updateSubscription);
  $('#update-profile').click(updateProfile);
</script>
