<h2>Edit your profile <%= @reader.email %></h2>

<p>(Allow reader to edit preferences & sources, which involves join tables)</p>
<ul>
  <li>Twitter handle</li>
  <li>Facebook username</li>
  <li>Topics of interests</li>
  <li>Favorite news sources</li>
</ul>
  <%= form_for @reader do |f| %>
    <%#= f.label :twitter, "Twitter handle:" %>
    <%#= f.text_field :twitter %>
    <%#= f.label :facebook, "Facebook username:" %>
    <%#= f.text_field :facebook %>
    <%#= f.submit "Update profile" %>
  <% end %>

<p>Edit email/pw and location only show on click</p>
<h3 class='edit_reader'>Edit your info</h3>

<div class="edit_reader_form">
  <%= form_for @reader do |f| %>
    <%= f.label :location, "Location:" %>
    <%= f.text_field :location %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <%= f.submit "Update profile" %>
  <% end %>
</div>

<h3>Choose your News Preferences</h3>
  <%= form_for @reader do |f| %>
    <% @publications.each do |publication| %>
      <%= label_tag publication.name %>
      <%= check_box_tag publication.url %>
    <% end %>
  <%= submit_tag ("Update Preferences")%>
<% end %>

</div>
