<div class="wrapper">
  <div class="notify"></div>
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>


  <div class="subscription">
  <h3>Choose your news subscriptions</h3>
    <%= form_for @subscription do |f| %>
      <%= collection_check_boxes(:reader, :publication_ids, Publication.all, :id, :name) %>
      <%= f.submit 'Update preference' %>
    <% end %>
  </div>

  <h3>Edit profile &amp; social networks:</h3>

  <div class="social">
  <% if @reader.facebook_token %>
    <a href='/logout/facebook' id='unlink-fb'><i class="fa fa-facebook"></i>
      Disconnect from Facebook
    </a>
  <% else %>
    <a href="/auth/facebook">
      <i class="fa fa-facebook"></i> Connect with Facebook
    </a>
  <% end %>
  <% if @reader.twitter_token %>
    <a href='/logout/twitter' id='unlink-tw'>
      <i class="fa fa-twitter"></i>
      Disconnect from Twitter
    </a>
  <% else %>
    <a href="/auth/twitter">
      <i class="fa fa-twitter"></i>
      Connect with Twitter
    </a>
  <% end %>

  <p>* Connect with Facebook/Twitter to get<br/>
  articles shared by your social network.</p>
  </div>


  <div class="profile-edit">
    <%= form_for @reader do |f| %>
      <%= f.label :email, "Email:" %>
      <%= f.text_field :email %><br/>
      <%= f.label :password, "Password:" %>
      <%= f.password_field :password %> <br/>
      <%= f.label :name, "Name:" %>
      <%= f.text_field :name %> <br/>
      <%= f.label :image, "Profile pic:" %>
      <%= f.text_field :image %><br/>
      <%= f.submit "Update profile" %>
    <% end %>
  </div>

</div>
