<h2>Edit your profile <%= @reader.email %></h2>

<h3>Choose your News Preferences</h3>
<!-- //this is pretty shitty, Matt told me that maybe we should rebuild our data structure around periodical lists and assign them topics. We could pull be .find_by_topic then, I suppose. -->

<div class = 'edit_news_preferences'>
  <%= form_for @reader_interest_join do |f| %>
  <%= hidden %>
  <h4>International</h4>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "The Guardian") %>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "Al Jazeera") %>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "New York Times: World") %>
  <h4>Local</h4>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "New York Post") %>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "The L Magazine") %>
    <%= f.check_box_tag(:interest_id) %>
    <%= f.label_tag(:interest_id, "AM NY") %>
  <h4>Science and Technology</h4>
  <% end %>
  <%= form_tag do %>
    <% @interests.each do |interest| %>
      <h1><%= interest.topic %></h1>
      <%= label_tag interest.url1 %>
      <%= check_box_tag "urls[#{interest}][1]", interest.url1 %>
      <%= label_tag interest.url2 %>
      <%= check_box_tag "urls[#{interest}][2]", interest.url2 %>
      <%= label_tag interest.url3 %>
      <%= check_box_tag "urls[#{interest}][3]", interest.url3 %>
    <% end %>
  <%= submit_tag ("Update Preferences")%>

  <% end %>

</div>
