<% if @reader.name %>
  <h2>Customize your profile <%= @reader.name %></h2>
<% else %>  
  <h2>Customize your profile <%= @reader.email %></h2>
<% end %>   

<div class="social">
  <a href="/auth/facebook">Link your Facebook account</a>
  <a href="/auth/twitter">Link your Twitter account</a>
</div>

<div class="preference">
<h3>Choose your News Preferences</h3>
  <%= form_for @subscription do |f| %>
    <%= collection_check_boxes(:subscription, :publication_id, @publications, :id, :name, {}) %>
    <%= f.submit %>
  <% end %>
</div>


<div class="profile">
  <h3>Edit profile</h3>
  <%= form_for @reader do |f| %>
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
    <%= f.submit "Update profile" %>
  <% end %>
</div>

