<% @data.each do |data| %>
  <p>
    <a href="<%= data[:url] %>"><%= data[:title] %></a><br/>
    <%= data[:extract] %><br/>
    Shared by: <a href="http://twitter.com/<%= data[:sharer] %>">@<%= data[:sharer] %></a>
  </p>
<% end %>
