<%= javascript_include_tag 'welcome' %>

<ul id="nav">
<li>Leafthru</li>
<li>Local Time: <%= Time.now %></br>Date</li>
<li>Temperature</br>
72 degrees</li>
<li>Hi, <%= Reader.name %></li>
<li><a href="/profile">Edit My Profile</a></li>
</ul>


<h3 id='choose'></h3>

<div class="form">

  <div class="signup">
  <%= form_for @reader do |f| %>
    <%= f.text_field :email, placeholder: 'Email' %>
    <%= f.password_field :password, placeholder: 'Password' %> 
    <%= f.submit "Sign up" %>
  <% end %>
  </div>  

  <div class="login">
  <%= form_tag '/sessions', method: :post do %>
    <%= text_field_tag :email, nil, placeholder: 'Email' %>
    <%= password_field_tag :password, nil, placeholder: 'Password' %> 
    <%= submit_tag "Log in" %>
  <% end %>
  </div>

</div>

<ul>
<li><a href="/signup">Sign up</li>
<li><a href="/login">Log in</a></li>
<li><a href="/logout">Log out</a></li>
<li><a href="/auth/facebook">Link your Facebook account</a></li>
<li><a href="/auth/twitter">Link your Twitter account</a></li>
</ul>
