<%= javascript_include_tag 'welcome' %>

<ul id="nav">
  <li>Leafthru</li>
  <li><%= formatted_date_time(Time.now) %></br>
Temperature: 72 degrees</br>
  </li>
  <li>Hi, <%= Reader.name %></br>
  I'm Feeling...</li>
  <li><a href="/profile">Menu</a></ul>
    <li><a href="/articles">Read Later</a></li>
    <!-- <li><a href="/auth/facebook">Link your Facebook account</a></li> -->
    <li><a href="/auth/twitter">Link your Twitter account</a></li>
    <li><a href="/logout">Log out</a></li></ul>
  </li>
</ul>


<!-- <ul id="navbar">
  <li><a href="#">Item One</a><ul>
    <li><a href="#">Subitem One</a></li>
    <li><a href="#">Second Subitem</a></li>
    <li><a href="#">Numero Tres</a></li></ul>
  </li>
  <!-- ... and so on ... -->
<!-- </ul -->




<h2>Sign up or Log in</h2>

<div class="signup">
<%= form_for @reader do |f| %>
  <%= f.label :email, "Email:" %>
  <%= f.text_field :email %>
  <%= f.label :password, "Password:" %>
  <%= f.password_field :password %>
  <%= f.submit "Sign up" %>
<% end %>
</div>


<div class="login">
<%= form_tag '/sessions', method: :post do %>
  <%= label_tag :email, "Email:" %>
  <%= text_field_tag :email %>
  <%= label_tag :password, "Password:" %>
  <%= password_field_tag :password %>
  <%= submit_tag "Log in" %>
<% end %>
</div>






<h2><a href="/feed">Your News Feed</a></h2>

<div class = "frontpage"></div>

