<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<div class="tooltip">
  <ul>
    <li>
      Sign up for an account.
    </li>

    <li>
      Update your subscriptions and connect your account to Facebook/Twitter on the My Profile page.
    </li>

    <li>
      View articles under <b><i class="fa fa-list-ul"></i>&nbsp;News Feed</b>. You can bookmark or discard them.
    </li>

    <li>
      Articles you have bookmarked are under <b><i class="fa fa-bookmark"></i>&nbsp;Bookmarks</b>.
    </li>
  </ul>
</div>


<div class="form-wrapper">
  <h2><span id='login'>Log in</span> or <span id='signup'>Sign up</span></h2>

  <div class="form">
    <div class="signup">
    <%= form_for @reader do |f| %>
      <%= f.text_field :email, placeholder: 'Email' %>
      <%= f.password_field :password, placeholder: 'Password' %>
      <%= f.submit "Sign up" %>
    <% end %>
    </div>

    <div class="login">
    <%= form_tag '/sessions', method: :post do %>
      <%= text_field_tag :email, nil, placeholder: 'Email' %>
      <%= password_field_tag :password, nil, placeholder: 'Password' %>
      <%= submit_tag "Log in" %>
    <% end %>
    </div>
  </div>

</div>

