<div class="menu">
  <div class="logo">
  <a href="/">
    <img src="/assets/logo.png" alt="">
  </a>
  </div>

  <div class='location'>
    <big><%= formatted_date_time(Time.now) %></big></br>

    <% if current_reader && current_reader.location %>
      <small><%= current_reader.location %></small>
    <% end %>
  </div>


  <div class='profile'>
    <% if current_reader %>
      <% if current_reader.image %>
        <img src="<%= current_reader.image %>" alt="profile-image" />
      <% end %>
      <% if current_reader.name %>
        <div class='greetings'>Hi, <%= current_reader.name %></div>
      <% else %>
        <div class='greetings'>Hi, <%= current_reader.email %></div>
      <% end %>

      <div class='actions'>
        <a href="/feed" class='feed'>
          Latest news <i class="fa fa-star"></i>
        </a> &nbsp;
        <a href="/articles" class='bookmarks'>
          Reading list <i class="fa fa-star"></i>
        </a>
      </div>
            
    <% else %>
      <div class='greetings'>Hi, Reader</div>
      <div class='about'>
        <a href="/about">How it works</a>
        <%= render 'welcome/how_it_works' %>
      </div>
    <% end %>
  </div>


  <div id='expand'>
    <span class="arrow">
      Menu &nbsp; <i class="fa fa-chevron-down"></i>
    </span>
    <span class="hamburger">
      <i class="fa fa-bars"></i>
    </span>
  </div>

  <ul class="nav">
  <% if current_reader %>
    <li class='action'>
      <a href="/feed" class='feed'>Latest news</a>
      <i class="fa fa-check"></i>
    </li>
    <li class='action'>
      <a href="/articles" class='bookmarks'>Reading list</a>
      <i class="fa fa-check"></i>
    </li>
    <li>
      <a href="/customize" class='customize'>Customize feed</a>
    </li>
<!--     <li>
      <a href="/leafers" class="network">What friends are reading</a>
      <i class="fa fa-check"></i>
    </li> -->
    <li>
      <a href="/logout">Log out</a>
    </li>
    <li>
      <a href="/about" class="about">About Leafthru</a>
      <i class="fa fa-check"></i>
    </li>
   <% else %>
    <li>
      <a href="/">Sign Up/Log in</a>
    </li>
    <li>
      <a href="/about" class="about">About Leafthru</a>
      <i class="fa fa-check"></i>
    </li>
    <% end %>
  </ul>


</div>

<script type="text/javascript">
  window.navigation = new Navigation();
</script>
