<!DOCTYPE html>
<html>
<head>
  <title>Leafthru</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'assets/profile.svg' %>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script type="text/javascript">google.load("feeds", "1");</script>
  <link href='http://fonts.googleapis.com/css?family=Oswald|Hammersmith+One' rel='stylesheet' type='text/css'>
</head>


<body>
<%= render 'layouts/nav' %>
<%= yield %>

</body>
</html>
